version: '3.8'

services:
  analytics-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3008:3008"
    environment:
      - PORT=3008
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mystay_db?schema=public
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=local_secret
      - CACHE_ENABLE=true
      - NODE_ENV=development
    depends_on:
      - postgres
      - redis
    volumes:
      - ./src:/app/src

  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mystay_db
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
